- name: Setup /etc/sf-release file
  copy:
    content: "{{ sf_version }}"
    dest: /etc/sf-release
  become: yes

- name: Check for zuul-built.repo
  stat: path=/etc/yum.repos.d/zuul-built.repo
  register: zuul_built_repo

# TODO: remove this temporary fix when new packages requirements are merged
# see https://softwarefactory-project.io/r/#/q/topic:extras-paramiko
- name: Exclude python-paramiko from extras
  ini_file:
    path: /etc/yum.repos.d/CentOS-Base.repo
    section: "extras"
    option: exclude
    value: python-paramiko
  become: yes

- name: Check for sf-release.repo
  stat: path=/etc/yum.repos.d/sf-release.repo
  register: sf_release_repo

- name: Check for local-build.repo
  stat: path=/etc/yum.repos.d/local-built.repo
  register: local_built_repo

- name: Install sf-release master when no zuul-built
  yum:
    name: "https://softwarefactory-project.io/repos/sf-release-master.rpm"
    validate_certs: no
  when: not zuul_built_repo.stat.exists and not sf_release_repo.stat.exists
  become: yes

- name: Install zuul-built.repo in place of sf-release
  command: mv /etc/yum.repos.d/zuul-built.repo /etc/yum.repos.d/sf-release.repo
  when: zuul_built_repo.stat.exists
  become: yes

- name: Exclude sf-release package from zuul-built repo
  when: zuul_built_repo.stat.exists
  ini_file:
    path: /etc/yum.repos.d/sf-release.repo
    section: "{{ item }}"
    option: exclude
    value: sf-release
  with_items:
    - sfmaster
  become: yes

- name: Replace koji hostname by its IP
  replace:
    dest: /etc/yum.repos.d/sf-release.repo
    regexp: 'koji.softwarefactory-project.io'
    replace: "{{ koji_ip }}"
  become: yes

- name: Check for locally built packages
  stat:
    path: "{{ local_repo_path }}"
  register: local_build

- name: Remove local_built repo
  file:
    path: /etc/yum.repos.d/local-built.repo
    state: absent
  when: not local_build.stat.exists
  become: yes

- name: Add local_built repo
  yum_repository:
    name: "local-built"
    description: "Local build repo"
    baseurl: "file://{{ local_repo_path }}"
    gpgcheck: "0"
  when: local_build.stat.exists
  become: yes

- name: Exclude older package from scl
  ini_file:
    path: /etc/yum.repos.d/CentOS-SCLo-scl-rh.repo
    section: centos-sclo-rh
    option: exclude
    value: rh-python35-python-jinja2
  become: yes
