- include: update_bootstrap_mode.yml

- name: Remove any sfmanager.log
  file:
    path: sfmanager.log
    state: absent
  become: yes
  become_user: root

- name: Start functional tests
  command: "{{ sf_ci }}/scripts/create_ns.sh nosetests --with-timer --with-html --html-file=nose_results.html --logging-format '%(asctime)s: %(levelname)s - %(message)s' -sv {{ sf_ci }}/{{ func_test_case }}"
  become: yes
  become_user: root
