[ircbot]
nick={{ bot_name }}
pass=
server=localhost
# NOTE: non SSL port is 6667
port=6697
channel_config=/etc/gerritbot/channels.yaml
pid=/var/run/gerritbot/gerritbot.pid
log_config=/etc/gerritbot/logging.conf

[gerrit]
user=zuul
key=/var/lib/gerritbot/.ssh/id_rsa
host=gerrit
port=29418
