---
labels:
  - name: centos-oci

providers:
  - name: oci
    driver: oci
    hypervisor: localhost
    pools:
      - name: main
        max-servers: 10
        labels:
          - name: centos-oci
