---
diskimages:
  - name: {{ name }}
    formats:
      - raw
    elements:
      - centos-minimal
      - nodepool-minimal
      - sf-zuul-worker

labels:
  - name: {{ name }}
    min-ready: 1

providers:
  - name: nodepool
    cloud: {{ provider_name }}
    clean-floating-ips: true
    image-name-format: '{image_name}-{timestamp}'
    boot-timeout: 120
    rate: 2.0
    diskimages:
      - name: {{ name }}
    pools:
      - name: main
        max-servers: 2
        networks:
           - {{ os_slave_net }}
        labels:
          - name: {{ name }}
            min-ram: 1024
            diskimage: {{ name }}
