---
- hosts: install-server
  tasks:
    - name: Prepare instance
      include_role:
        name: "{{ item }}"
      loop:
        - prepare-test-env
        - install-ci-repository
        - install-sfconfig

    - name: Configure sfconfig
      include_role:
        name: configure-sfconfig
      vars:
        add_component:
          - component: hypervisor-openshift
            insertafter: nodepool-launcher

    - name: Configure hostname and fqdn
      include_role:
        name: configure-fqdn

    - name: Run sfconfig with provision-demo
      include_role:
        name: run-sfconfig
      vars:
        sfconfig_args: --provision-demo

    - name: Run health-check
      include_role:
        name: run-health-check
      ignore_errors: yes
      vars:
        health_check_name: zuul-openshift

    - name: Fetch job artifacts
      synchronize:
        src: /var/www/logs
        dest: "{{ zuul.executor.log_root }}/job-logs"
        mode: pull
      no_log: True
      become: yes

    - name: Fetch nodepool launcher logs
      synchronize:
        src: /var/log/nodepool
        dest: "{{ zuul.executor.log_root }}/nodepool"
        mode: pull
      no_log: True
      become: yes

    - name: Fail if health-check failed
      fail:
        msg: Health check failed
      when: health_check is failed
