---
- hosts: install-server
  tasks:
    - include: tasks/install_stable_repo.yml
    - include: tasks/install_centos_cr_repo.yml
    - name: Update all installed packages
      yum:
        name: '*'
        state: latest
        update_cache: yes
      become: yes
    - name: Install sf-config package
      yum:
        name: sf-config
        exclude: ansible
        state: latest
      become: yes
    # Make sure /etc/nodepool doesn't exists
    - name: "Ensure /etc/nodepool doesn't exists"
      file:
        path: /etc/nodepool
        state: absent
      become: yes
    - name: Run sfconfig
      command: sfconfig --arch /usr/share/sf-config/refarch/{{ sf_arch }}.yaml
      become: yes
