---
- name: Ensure that current podman package is not broken
  include_role:
    name: workarounds
    tasks_from: podman.yml

- name: Create zuul project
  block:
    - name: Clone repository
      git:
        repo: 'https://{{ fqdn }}/r/{{ project }}'
        dest: '/tmp/{{ project }}'

    - name: Install project files
      synchronize:
        src: '{{ project }}/'
        dest: '/tmp/{{ project }}/'

    - name: Add project files
      command: '{{ item }}'
      loop:
        - git add -A .
        - git commit -m 'add zuul configuration'
      args:
        chdir: '/tmp/{{ project }}/'

    - name: Submit review
      command: /usr/share/sf-config/scripts/submit_and_wait.py --approve --delay 1200
      args:
        chdir: '/tmp/{{ project }}/'
  when: project is defined
  become: yes
