- name: Create fake config change
  command: "{{ item }}"
  args:
    chdir: "{{ config_path }}"
  loop:
    # Use 'date' dynamic content to make sure a new change is created
    - bash -c "date '+%s' >> test_gerritbot_notif"
    - git add test_gerritbot_notif
    - git commit -m "{{ commit_message }}"
    - /usr/local/bin/git-review
